!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title コーディネートアプリ
    = csrf_meta_tags
    = csp_meta_tag
    = Gon::Base.render_data
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application'
  %body
    %header.header
      .header__sub__title
        = link_to "自動配色選択コーディネートアプリ", '#', class: "header__sub__title--text"
        .header__main__title
          = link_to "Tetrads(テトラード)", '#', class: "header__main__title--text"
      .header__right
        %a{href: "https://forms.gle/hfLXM2LF9Q1Dkorg6",class: "header__right--btn"} お問い合わせ
    = yield

    %footer.footer
      %p
        %small 2020 Creator:Kengo Matsuno
